<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="main-fragment (title, otherStaticResources, header, mainContent, footer, script)">
<head>
    <meta charset="UTF-8"/>
    <title th:replace="${title}">Page 1 Title</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../../static/css/style.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Other javascript, css source files -->
    <th:block th:replace="${otherStaticResources} ?: ~{}"></th:block>
    <link th:href="@{img/favicon.png}" type="image/png" rel="icon">

</head>
<body>

<header th:replace="${header} ?: ~{}">

</header>

<main>
    <div th:replace="${mainContent} ?: ~{}">

    </div>
</main>

<footer th:insert="${footer} ?: ~{}">

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/f5e0eb0af6.js"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.js"
        integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
        crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const body = document.querySelector('body')
        const toggleSwitch = document.querySelector('.switch')

        toggleSwitch.addEventListener('click', (e) => {
            body.classList.toggle('dark'),
            ["fa-moon", "fa-sun"].forEach(
                c => e.target.classList.toggle(c));
            })
    })
</script>
<th:block th:replace="${script} ?: ~{}"></th:block>
</body>
</html>