<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sign-up</title>
    <th:block id="static-resources">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" th:href="@{css/auth.css}">
        <link th:href="@{img/favicon.png}" type="image/png" rel="icon">
    </th:block>

</head>
<body>

<div class="layout">
    <div class="layout" style="width:100%;">
        <!-- Start of Sign Up -->
        <div class="main order-md-2">
            <div class="start">
                <div class="container">
                    <div class="col-md-12">
                        <div class="content">
                            <h1>Create Account</h1>
                            <form class="signup">
                                <div class="form-group">
                                    <input type="text" id="inputFullName" class="form-control"
                                           placeholder="Full Name" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="inputName" class="form-control"
                                           placeholder="User Name" required>
                                </div>

                                <div class="form-group">
                                    <input type="password" id="inputPassword" class="form-control"
                                           placeholder="Password" required>
                                </div>

                                <div class="form-group">
                                    <input type="password" id="inputConfirmPassword" class="form-control"
                                           placeholder="Confirm Password" required>
                                </div>

                                <button type="submit" class="btn button" formaction="index-2.html">Sign
                                    Up</button>
                                <div class="callout">
                                    <span>Already a member? <a th:href="@{sign-in}">Sign In</a></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Sign Up -->
        <!-- Start of Sidebar -->
        <div class="aside order-md-1">
            <div class="container">
                <div class="col-md-12">
                    <div class="preference">
                        <h2>Welcome Back!</h2>
                        <p>To keep connected with your friends please login with your personal
                            info.</p>
                        <a th:href="@{sign-in}" class="btn button">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>